<html>
  <body>
    <h1>Hi there <%= name %></h1>
    <p>Thank you for registering for <%= appName %>,
		<p>Please click on the following link to confirm your email and activate your account :<br>
		<a href="<%= activationLink %>">ACTIVATE YOUR ACCOUNT</a>
		<p>Regards,<br>
		Test
  </body>
</html>